extends backand-layout

block head
    include google
    include heap
    if (reqId === 0)
        include inspectlet
    if (reqId === 4)
        include navilytics
    if (reqId === 5)
        include luckyorange
    if (reqId === 7)
        include hotjar
block content
    if (reqId === 1)
        include sessioncam
    if (reqId === 2)
        include mouseflow
    if (reqId === 3)
        include mousestats
    if (reqId === 6)
        include clicky
    if (reqId === 8)
        include visidom


    script.

        var name =function() {var name = ["Jaco","Macaw","Toucan"];var last = ["red","gray","white"];return name[Math.floor((Math.random() * 10))%3] + " " + last[Math.floor((Math.random() * 10))%3];}();
        window.intercomSettings = {
            // TODO: The current logged in user's full name
            name: name,
            // TODO: The current logged in user's email address.
            email: function(name) {return name.replace(" ",".") + "@getjaco.com"}(name),
            // TODO: The current logged in user's sign-up date as a Unix timestamp.
            created_at: Date.now(),
            app_id: "enwd649t"
        };
    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/enwd649t';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()


